PROJECT_NAME="FastAPI Hackathon Backend"
SECRET_KEY=changethis

POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis
POSTGRES_DB=app
ADMINER_PORT=8080

FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

BACKEND_CORS_ORIGINS=["http://localhost:5173"]
